@model IEnumerable<WebsiteChungKhoan.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



  <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-2">
           
  <div class="post-container">
@foreach (var item in Model) {
      <!-- Tiêu đề -->
      <div class="post-title">@item.Name</div>
      <!-- Ảnh nội dung -->
      <img src="@Url.Content(item.Img)" alt="Image" style="max-width: 640px; max-height: 320px;" />
      <!-- Nội dung -->
      <div class="post-content">@item.Description</div>
      <!-- Hành động -->
      <div class="post-actions">
          <i class="far fa-thumbs-up"></i> Like
          <span class="mx-2">·</span>
          <i class="far fa-comment"></i> Comment
          <span class="mx-2">·</span>
          <i class="fas fa-share"></i> Share
      </div>
}
  </div>        
          </div>
      </div>
  </div>