@{
    Layout = null;
    int ttValue = int.Parse(ViewContext.RouteData.Values["tt"].ToString());
    string ndValue = ViewContext.RouteData.Values["nd"].ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PayOnline</title>
    <style>
        /* CSS cho lớp phủ tròn */
        .overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5); /* Màu nền mờ */
            display: none; /* Mặc định ẩn */
        }

        /* CSS cho nội dung trong lớp phủ */
        .overlay-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="overlay" id="overlay">
        <div class="overlay-content">
            <p id="conceptPay"></p>
        </div>
    </div>
    <h2>Thông tin thanh toán</h2>
    <p>Số tiền thanh toán: @ttValue</p>
    <p>Nội dung thanh toán: @ndValue</p>


</body>
</html>
